{%extends 'navbar_superuser.html' %}
{% block title %}Tambah Data Kompartemen{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form method="post">
        <h1 class="h2">Pendaftaran Kompartemen Dosen</h1>
        <hr>
            <h2>Dosen tidak Dapat ditambahakan karena sudah terdapat assignment pada posisi ini sebelumnya harap update jika terdapat perubahan! </h2>
            <a class="btn btn-warning text-white m-1" type="button"
            href="/usulantopikget">Kembali</a>

        </div>
    </form>
</div>


{% endblock %}