{%extends 'navbar_superuser.html' %}
{% block title %}Update Role Dosen{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form method="post">
        <h1 class="h2">Update Role Dosen</h1>

        {%csrf_token%}
        {{form|crispy}}
        <div class="row container-fluid">
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Submit
            </button>
            <!-- <a type="button" class="btn btn-primary btn-block mb-4 btn-info text-white"
                href="/skripsi_app/kompartemenget">
                Kembali
                Ke
                Tabel Kompartemen</a> -->

        </div>
        <h4><b>Keterangan :</b></h4>
        <ul><li>Ketika terdapat pesan error maka tinjau kembali kesamaan pasangan dosen dan mahasiswa pada <a href="{%url 'dosenpembimbing_get' %}">tabel dosen pendamping </a></li>
          <li>Ketika ingin mengubah role dosen yang sedang aktif sekarang lakukan secara bertahap dengan pengubahan status "Active" menjadi "Finished" terlebih dahulu lalu ubah sesuai role yang dibutuhkan</li>
          {% comment %} <li>Merah : Tidak Terdapat Progress Selama 6 Bulan</li> {% endcomment %}
        </ul>

    </form>
   
</div>
{%if roledosens != None%}
<div>
    <h1>Tabel Daftar Dosen Pendamping</h1>
    <table id="table-paginate" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>NIP</th>
            <th>Nama Dosen</th>
    
            <th>Role</th>
            <th>Status</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          {%for item in roledosens%}
          <tr>
    
            <td>{{item.nim.nim}}</td>
            <td>{{item.nim.id_user.first_name}}</td>
            <td>{{item.nip.nip}}</td>
            <td>{{item.nip.id_user.first_name}}</td>
    
            <td>{{item.role}}</td>
            <td>{{item.status}}</td>
            
            <td>
              <form method="post">
                {% csrf_token %}
                {%if role == "Dosen Pembimbing" %}
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'nilai_bimbingan_get' item.nim.nim %}">Nilai Bimbingan</a>
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'nilai_sempro_get'  item.nim.nim %}">Nilai Sempro</a>
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'nilai_semhas_get'  item.nim.nim %}">Nilai Semhas</a>
                {%elif role == "Dosen Seminar Proposal" %}
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'nilai_sempro_get'  item.nim.nim %}">Nilai Sempro</a>
                {%elif role == "Dosen Seminar Hasil" %}
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'nilai_semhas_get'  item.nim.nim %}">Nilai Semhas</a>
                {%endif%}
                {%if user_info.2.name == "Manajemen Departemen" or user_info.2.name == "Admin" or user_info.2.name == "Properta"%}
                <a class="btn btn-warning text-white m-1" type="button"
                href="{% url 'dosenpembimbing_update' item.id_role_dosen %}">UPDATE</a>
                <a class="btn btn-danger text-white my-1" type="button" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop{{item.id_role_dosen}}">DELETE</a>
    
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{item.id_role_dosen}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel{{item.id_role_dosen}}" aria-hidden="true" name="{{item.id_role_dosen}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel{{item.id_role_dosen}}">Apakah
                        anda yakin akan
                        menghapus role dosen : {{item.role}} antara {{item.nim}} dan {{item.nip}}
                        ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Data tidak akan dikembalikan ketika telah menekan tombol "Ya"
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                        <a type="button" class="btn btn-danger" href="{%url 'dosenpembimbing_delete' item.id_role_dosen%}">Ya</a>
                    </div>
                    </div>
                </div>
                </div>
                
                {%endif%}
              </form>
            </td>
    
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>NIP</th>
            <th>Nama Dosen</th>
    
            <th>Role</th>
            <th>Status</th>
            <th>Operation</th>
          </tr>
        </tfoot>
      </table>
</div>
{%endif%}
{%if data_pembimbing != None%}
<div>
  <h1>Tabel Beban Dosen Pembimbing</h1>
  <table id="table-paginate2" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>

        </tr>
      </thead>
      <tbody>
        {%for item in data_pembimbing%}
        <tr>
  
          <td>{{item.nip__id_user__first_name}}</td>
          <td>{{item.nip}}</td>
          {%if item.count_pembimbing > 8 %}
          <td class="text-light bg-danger">{{item.count_pembimbing}}</td>
          {%else%}
          <td >{{item.count_pembimbing}}</td>
          {%endif%}
          <!-- <td>{{item.status}}</td> -->
          
         
  
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>
        </tr>
      </tfoot>
    </table>
</div>
{%endif%}
{%if data_sempro != None%}
<div>
  <h1>Tabel Beban Dosen Sempro</h1>
  <table id="table-paginate3" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>

        </tr>
      </thead>
      <tbody>
        {%for item in data_sempro%}
        <tr>
  
          <td>{{item.nip__id_user__first_name}}</td>
          <td>{{item.nip}}</td>
          {%if item.count_sempro > 8 %}
          <td class="text-light bg-danger">{{item.count_sempro}}</td>
          {%else%}
          <td >{{item.count_sempro}}</td>
          {%endif%}
          <!-- <td>{{item.status}}</td> -->
          
         
  
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>
        </tr>
      </tfoot>
    </table>
</div>
{%endif%}
{%if data_sempro != None%}
<div>
  <h1>Tabel Beban Dosen Semhas</h1>
  <table id="table-paginate4" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>

        </tr>
      </thead>
      <tbody>
        {%for item in data_semhas%}
        <tr>
  
          <td>{{item.nip__id_user__first_name}}</td>
          <td>{{item.nip}}</td>
          {%if item.count_semhas > 8 %}
          <td class="text-light bg-danger">{{item.count_semhas}}</td>
          {%else%}
          <td >{{item.count_semhas}}</td>
          {%endif%}
          <!-- <td>{{item.status}}</td> -->
          
         
  
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Nama Dosen</th>
          <th>NIP</th>
          <th>Jumlah</th>
        </tr>
      </tfoot>
    </table>
</div>
{%endif%}

{% endblock %}