{%extends 'navbar_superuser.html' %}
{% block title %}Baca Berkas Skripsi{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <form method="post" enctype="multipart/form-data">
    <h1 class="h2">Pembaruan Berkas Skripsi</h1>

    {%csrf_token%}
    {{form|crispy}}
    <div class="row container-fluid">
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Submit
      </button>
      <!-- <a type="button" class="btn btn-primary btn-block mb-4 btn-info text-white" href="/skripsi_app/mahasiswaget">
        Kembali
        Ke
        Tabel Dosen</a> -->
    </div>
  </form>
</div>
<script>
  $(document).ready(function() {
    $('<small>File yang diterima hanya file berformat PDF dengan ukuran maksimal 10MB<small/><br/>').insertAfter('#id_file_proposal');
  
});
  $(document).ready(function() {
    $('<small>Format Penulisan Nama File : Nama Tahap - Nama - NIM <small/><br/>').insertAfter('#id_file_proposal');
  
});

</script>



{% endblock %}