{%extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<body style="background-color: rgb(245,245,245)">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <table>
                    <tr>
                        <th rowspan="2">
                            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="/">
                                <img src="{% static 'img/logo.png' %}"
                                    alt="" width="280" height="90" class="d-inline-block align-text-top"></a>
                            <!-- &nbsp; &nbsp; -->
                            <!-- <img src="{% static 'img/ub.png' %}" alt="" width="60" height="60"
                                class="d-inline-block align-text-top"> -->
                        </th>
                      
                    </tr>
                </table>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       
                    </ul>
                    
                </div>
            </div>
        </nav>
        <br><br><br><br>
        <br><br>
        <!-- Section: Design Block -->

            <div class="container">
                <h3>Password reset</h3>
                <hr>
                <h6>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</h5>
                <br>
                 <form method="post">
                                        <!-- 2 column grid layout with text inputs for the first and last names -->
                                        {%csrf_token%}
                                        {{form.as_p}}
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><button type="submit" class="btn btn-block btn-secondary">Send Email</button>
                </form>
            </div>

       
    </div>
</body>

{% endblock %}