{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Data Progress Mahasiswa{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
  <h2>Tabel Progress Mahasiswa</h2>
  <br>
  <div class=" container-fluid text-start " style={}>
    <span> 

      <h4>Filter Durasi : </h4>
      <a class="btn btn-success text-white my-3" href="/mahasiswawaktu"> Registrasi - ACC Revisi Semhas</a>
      {%if user_info.2.name != "Mahasiswa"%}
      <a class="btn btn-success text-white my-3" href="{% url 'mahasiswa_waktu_get_usulan'  %}"> Usulan - ACC Revisi Semhas </a>
      <a class="btn btn-success text-white my-3" href="{% url 'mahasiswa_waktu_get_evaluasi'  %}"> Evaluasi - ACC Sempro</a>
      <a class="btn btn-success text-white my-3" href="{% url 'mahasiswa_waktu_get_berkas'  %}"> ACC Revisi Sempro - ACC Revisi Semhas</a>
      <a class="btn btn-success text-white my-3" href="{% url 'mahasiswa_waktu_get_kompartemen' %}"> Assign Kompartemen - Evaluasi</a>
      {%endif%}
    </span>
  </div>
  <br>
  <table id="table-paginate-waktu" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Waktu Awal</th>
        <th>Waktu Akhir</th>
        <th class="avg">Waktu Tempuh (Dalam Hari)</th>
        
        <!-- <th>waktu</th> -->
      </tr>
    </thead>
    <tbody>
      {% comment %} {% for item in new_bimbingans_nim_tanggal %}
      <tr>

      
        <td>{{item.NIM_mhs}}</td>
        <td>{{item.nama}}</td>
        <td>{{item.TanggalAwal}}</td>
        <td>{{item.TanggalAkhir}}</td>
        <td id="result{{forloop.counter}}" class="avg">{{item.TanggalUpdate.days}}</td>
      </tr>
      {% endfor %} {% endcomment %}
      {%for item in proposals%}
      {%for item2 in mahasiswa_topik%}
      {% if forloop.counter == forloop.parentloop.counter  %}
      <tr>
        {% if item.NIM_mhs %}
        <td>{{item.NIM_mhs}}</td>
        {% else %}
        <td>{{item.id_usulan_topik.nim.nim}}</td>
        {% endif %}
        
        {% if item.nama %}
        <td>{{item.nama}}</td>
        {% else %}
        <td>{{item.id_usulan_topik.nim.id_user.first_name}}</td>
        {% comment %} <td>{{item.nama}}</td> {% endcomment %}
        {% endif %}
        {% comment %} <td>{{item.NIM_mhs}}</td>
        <td>{{item.nama}}</td> {% endcomment %}

        {% comment %} {% if tahap == "Usulan" %}
        <td>{{item.id_role_dosen.nim.nim}}</td>
        <td>{{item.id_role_dosen.nim.id_user.first_name}}</td>
        
        {% elif %}
        <td>{{item.id_role_dosen.nim.nim}}</td>
        <td>{{item.id_role_dosen.nim.id_user.first_name}}</td>

        {% else %}
        <td>{{item.id_role_dosen.nim.nim}}</td>
        <td>{{item.id_role_dosen.nim.id_user.first_name}}</td>
        {% endif %} {% endcomment %}
        {% if tahap == "kompartemen" %}
        <td>{{item2.tanggal_buat}}</td>
        <td>{{item.tanggal_update}}</td>
        {% else %}
        <td>{{item2.tanggal_buat}}</td>
        <td>{{item.TanggalUpdate}}</td>
        {% endif %}
     
 
        
        <!-- <td></td> -->
        <td id="result{{forloop.counter}}" class="avg">
         
        </td>
        <script>


          {% if tahap == "kompartemen" %}
          var date = new Date(Number("{{item2.tanggal_buat|date:'y'}}"),Number("{{ item2.tanggal_buat|date:'m' }}"),Number("{{ item2.tanggal_buat|date:'d' }}"));
          var date1 = new Date("{{ item.tanggal_update|date:'y' }}","{{ item.tanggal_update|date:'m' }}","{{ item.tanggal_update|date:'d' }}");
          {% else %}
          var date = new Date(Number("{{item2.tanggal_buat|date:'y'}}"),Number("{{ item2.tanggal_buat|date:'m' }}"),Number("{{ item2.tanggal_buat|date:'d' }}"));
          var date1 = new Date("{{ item.TanggalUpdate|date:'y' }}","{{ item.TanggalUpdate|date:'m' }}","{{ item.TanggalUpdate|date:'d' }}");
          {% endif %}
          var result2 = document.getElementById("result{{forloop.counter}}");
          var day = new Date(date1.getTime() - date.getTime());
          // date.setTime(day);
          result2.innerHTML += (day/(1000*3600*24));
          // day.getUTCDate() - 1
          
        </script>
        

      </tr>
     
      {%endif%}
      
      {% endfor %}
      {% endfor %}
     

    </tbody>
    <tfoot>
      <tr>
        <!-- <th colspan="4" style="text-align:right" >Total:</th> -->
        <th colspan=2 style="text-align:right" >Average:</th>
        <th></th>
        <th></th>
        <th></th>

        <!-- <th></th> -->
      </tr>
      <!-- <tr>
        <th>NIM 1</th>
        <th>NIM 2</th>
        <th>Waktu Awal</th>
        <th>Waktu Akhir</th>
        <th>Waktu Tempuh</th>
      </tr> -->
    </tfoot>
  </table>
</div>



<script type="text/javascript" charset="utf-8">

  
</script>


<script type="text/javascript" charset="utf-8">


  $(document).ready(function () {

    
    // $('#table-paginate-waktu').DataTable({
    // fnFooterCallback: function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
    //     var TotalMarks = 0;
    //     for ( var i=0 ; i<aaData.length ; i++ )
    //     {
    //         TotalMarks += aaData[i][2]*1;
    //     }

    //     var nCells = nRow.getElementsByTagName('th');
    //     nCells[0].innerHTML = TotalMarks/aaData.length;
    // }
    // });

      $('#table-paginate-waktu').DataTable({

        lengthChange: true,
                    dom: 'Blfrtip',
                    buttons: [
            {
                extend: 'copyHtml5',
                className:'btn btn-secondary text-white rounded-pill  me-2 ms-2 ps-4 pe-4', 
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'csvHtml5',
                className:'btn btn-secondary text-white rounded-pill  me-2 ms-2 ps-4 pe-4',
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'excelHtml5',
                className:'btn btn-secondary text-white rounded-pill  me-2 ms-2 ps-4 pe-4',
                footer: true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                className:'btn btn-secondary text-white rounded-pill  me-2 ms-2 ps-4 pe-4',
                footer: true,
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
        //         customize : function(doc){
        //           var colCount = new Array();
        //           $(tbl).find('tbody tr td').each(function(){
        //               if($(this).attr('colspan')){
        //                   for(var i=1;i<=$(this).attr('colspan');$i++){
        //                       colCount.push('*');
        //                   }
        //               }else{ colCount.push('*'); }
        //           });
        //           doc.content[1].table.widths = colCount;
        // }
            },
            {extend:'colvis',
            className:'btn btn-secondary text-white rounded-pill  me-2 ms-2 ps-4 pe-4'}
        ],
        footerCallback: function(row, data, start, end, display) {
             var api = this.api();
 
            // Remove the comma to get data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/,/g,'')*1 :
                        typeof i === 'number' ?
                                   i : 0;
            };
 
              api.columns('.avg', {
                page: 'current'
              }).every(function() {
    
            // var numerator =  api
            //       .column("4", { page: 'current' })
            //       .data()
            //       .reduce(function (a, b) {
            //           return intVal(a) + intVal(b);
            //       }, 0);
            var numerator = this
                        .data()
                        .reduce( function(a, b) {
                          //console.log(a)
                          //console.log(b)
                                return (intVal(a) + intVal(b));
                        }, 0);
    
            var denominator = this.data().length;
    
            avg = numerator / denominator;
            avg = avg.toFixed(2)
            console.log(avg)
            $(api.column("2").footer()).html(avg+" Hari \n\n");
            $(api.column("3").footer()).html(avg/30+" Bulan\n\n" );
            $(api.column("4").footer()).html(avg/365+" Tahun");

            // $(this.footer()).html(avg);
    }); },
    // footerCallback: function (row, data, start, end, display) {
    //           var api = this.api();
  
    //           // Remove the formatting to get integer data for summation
    //           var intVal = function (i) {
    //               return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
    //           };
  
    //           // Total over all pages
    //           total = api
    //               .column("4")
    //               .data()
    //               .reduce(function (a, b) {
    //                 console.log(a)
    //                 console.log(b)
    //                   return intVal(a) + intVal(b);
    //               }, 0);
  
    //           // Total over this page
    //           pageTotal = api
    //               .column("0", { page: 'current' })
    //               .data()
    //               .reduce(function (a, b) {
    //                   return intVal(a) + intVal(b);
    //               }, 0);
  
    //           // Update footer
    //           $(api.column("4").footer()).html( total);
              
    //       },
      }).buttons().container()
                    .appendTo( '#table-paginate_wrapper .col-md-6:eq(0)' );
      
      

 
  });
</script>

{% endblock %}