{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Rekapitulasi Kelulusan Penilaian Mahasiswa{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
  <h2>Tabel Rekapitulasi Penilaian Mahasiswa</h2>
  <br>
  <div class="container-fluid text-start">
    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian' %}">Tanpa Filter
    </a>
    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_sudah_lengkap_bimbingan' %}"> Filter Bimbingan Sudah Dinilai
    </a>
    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_belum_lengkap_bimbingan' %}"> Filter Bimbingan Belum Dinilai
    </a>

    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_sudah_lengkap_sempro' %}"> Filter Sempro Sudah Dinilai
    </a>
    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_belum_lengkap_sempro' %}"> Filter Sempro Belum Dinilai
    </a>

    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_sudah_lengkap_semhas' %}"> Filter Semhas Sudah Dinilai
    </a>
    <a class="btn btn-success text-white mb-2"
    href="{% url 'tabulasi_penilaian_belum_lengkap_semhas' %}"> Filter Semhas Belum Dinilai
    </a>
    


  </div>
  <table id="table-paginate" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>NIM</th>
        <th>User</th>
        <th>Nama</th>
        <th>Angkatan</th>
        <th>Semester Daftar Skripsi</th>
        <th>Status Nilai Bimbingan</th>
        <th>Penilaian Bimbingan Lengkap</th>
        <th>Status Nilai Sempro</th>
        <th>Penilaian Sempro Lengkap</th>
        <th>Status Nilai Semhas</th>
        <th>Penilaian Semhas Lengkap</th>
  

        
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {%for item in mahasiswa_data%}
      <tr>

        <td>{{item.nim}}</td>
        <td>{{item.id_user}}</td>
        <td>{{item.id_user.first_name}}</td>
        <td>{{item.angkatan}}</td>
        <td>{{item.semester_daftar_skripsi}}</td>
        <td>{{item.status_bimbingan}}
          
        </td>
        <td>
          {%if item.tahap_bimbingan != None %}Penilaian Lengkap :<br/> {%for item2 in item.tahap_bimbingan%}{{forloop.counter}}. {{item2}}<br/>{%endfor%}{%endif%}
        </td>
        <td>{{item.status_sempro}}
          
        </td>
        <td>
          {%if item.tahap_sempro != None %}Penilaian Lengkap :<br/> {%for item2 in item.tahap_sempro%}{{forloop.counter}}. {{item2}}<br/>{%endfor%}{%endif%}
        </td>
        <td>{{item.status_semhas}}
          
        </td>
        <td>
          {%if item.tahap_semhas != None %}Penilaian Lengkap :<br/> {%for item2 in item.tahap_semhas%}{{forloop.counter}}. {{item2}}<br/>{%endfor%}{%endif%}
        </td>

        <td>
          <div class="d-flex align-items-start ">
          {% if item.status_dosen_pembimbing == "Admin" %}
          <div class="d-flex flex-column m-2">
            <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_1_by_nim' item.nim %}">Nilai Bimbingan Dospem 1</a>
            <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_2_by_nim' item.nim %}">Nilai Bimbingan Dospem 2</a>
          </div>
          {% elif item.status_dosen_pembimbing == "Pembimbing 1" %}
          <div class="d-flex flex-column m-2">
            <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_1_by_nim' item.nim %}">Nilai Bimbingan Dospem 1</a>
            {% comment %} <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_2_by_nim' item.nim %}">Nilai Bimbingan Dospem 2</a> {% endcomment %}
          </div>
          {% elif item.status_dosen_pembimbing == "Pembimbing 2" %}
          <div class="d-flex flex-column m-2">
            {% comment %} <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_1_by_nim' item.nim %}">Nilai Bimbingan Dospem 1</a> {% endcomment %}
            <a class="btn btn-primary m-1" type="button" href="{% url 'penilaian_bimbingan_dosen_2_by_nim' item.nim %}">Nilai Bimbingan Dospem 2</a>
          </div>
          {% else %}

          {% endif %}
          <div class="d-flex flex-column m-2">
            <a class="btn btn-success m-1" type="button" href="{% url 'penilaian_bimbingan_nim' item.nim %}">Nilai Bimbingan</a>
            <a class="btn btn-success m-1" type="button" href="{% url 'penilaian_sempro_nim' item.nim %}">Nilai Sempro</a>
            <a class="btn btn-success m-1" type="button" href="{% url 'penilaian_semhas_nim' item.nim %}">Nilai Semhas</a>
          </div>
          <div class="d-flex flex-column m-2">
            <a class="btn btn-success m-1" type="button" href="{% url 'nilai_bimbingan_get' item.nim %}">Nilai Kelulusan Bimbingan</a>
            <a class="btn btn-success m-1" type="button" href="{% url 'nilai_sempro_get' item.nim %}">Nilai Kelulusan Sempro</a>
            <a class="btn btn-success m-1" type="button" href="{% url 'nilai_semhas_get' item.nim %}">Nilai Kelulusan Semhas</a>
          </div>
          <div class="d-flex flex-column m-2">
              <a class="btn btn-warning m-1" type="button" href="{% url 'jadwal_dosen_bimbingan_filter_nim' item.nim %}">List Seminar Mahasiswa</a>
          {% if user_info.2.name == "Admin" %}
          
          <a class="btn btn-warning m-1" type="button" href="{% url 'jadwal_dosen_bimbingan_no_filter_nim' item.nim %}">List Seminar Mahasiswa Tanpa Filter</a>
          {% elif user_info.2.name == "Properta" %}
          <a class="btn btn-warning m-1" type="button" href="{% url 'jadwal_dosen_bimbingan_no_filter_nim' item.nim %}">List Seminar Mahasiswa Tanpa Filter</a>
          
          {% elif user_info.2.name == "Manajemen Departemen" %}
          <a class="btn btn-warning m-1" type="button" href="{% url 'jadwal_dosen_bimbingan_no_filter_nim' item.nim %}">List Seminar Mahasiswa Tanpa Filter</a>
          {% else %}
          {% endif %}
          </div>
          </div>
        </td>

      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>NIM</th>
        <th>User</th>
        <th>Nama</th>
        <th>Angkatan</th>
        <th>Semester Daftar Skripsi</th>
        <th>Status Nilai Bimbingan</th>
        <th>Penilaian Bimbingan Lengkap</th>
        <th>Status Nilai Sempro</th>
        <th>Penilaian Sempro Lengkap</th>
        <th>Status Nilai Semhas</th>
        <th>Penilaian Semhas Lengkap</th>
  

        
        <th>Operation</th>
      </tr>
    </tfoot>
  </table>
</div>




{% endblock %}