{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Data Penilaian{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
  <h2>Tabel Daftar Penilaian</h2>
  <table id="table-paginate" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>NIM</th>
        <th>Nama Mahasiswa</th>
        <th>NIP</th>
        <th>Nama Dosen</th>
        <th>Role Dosen</th>
        <th>Nama Tahap</th>
        <th>Status Kelulusan</th>
        <th>Sub CPMK</th>
        <th>Nilai</th>
        <th>Catatan</th>
        {% comment %} <th>Operation</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {%for item in penilaians%}
      <tr>

        <td>{{item.id_detail_penilaian.id_role_dosen.nim.nim}}</td>
        <td>{{item.id_detail_penilaian.id_role_dosen.nim.id_user.first_name}}</td>
        <td>{{item.id_detail_penilaian.id_role_dosen.nip.nip}}</td>
        <td>{{item.id_detail_penilaian.id_role_dosen.nip.id_user.first_name}}</td>
        <td>{{item.id_detail_penilaian.id_role_dosen.role}}</td>
        <td>{{item.id_detail_penilaian.nama_tahap}}</td>
        <td>{{item.id_detail_penilaian.status_kelulusan}}</td>
        <td>{{item.id_sub_cpmk}}</td>
        <td>{{item.nilai}}</td>
        <td>{{item.id_detail_penilaian.hasil_review}}</td>

        {% comment %} {%if item.photo_file == "" %}
        <td></td>
        {%else%}
        <td><img src={{item.photo_file.url}} width="100px"></td>
        {%endif%} {% endcomment %}
        {% comment %} <td> {% endcomment %}
            {% comment %} <a class="btn btn-success m-1" type="button" href="{% url 'mahasiswa_read' item.nim %}">READ</a> {% endcomment %}
            {% comment %} <a class="btn btn-success m-1" type="button" href="{% url 'mahasiswa_read' item.nim %}">READ</a> {% endcomment %}
            {% comment %} <a class="btn btn-warning text-white m-1" type="button"
              href="{% url 'mahasiswa_update' item.nim %}">UPDATE</a> {% endcomment %}
        {% comment %} </td> {% endcomment %}

      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>NIM</th>
        <th>Nama Mahasiswa</th>
        <th>NIP</th>
        <th>Nama Dosen</th>
        <th>Role Dosen</th>
        <th>Nama Tahap</th>
        <th>Status Kelulusan</th>
        <th>Sub CPMK</th>
        <th>Nilai</th>
        <th>Catatan</th>
        {% comment %} <th>Operation</th> {% endcomment %}
      </tr>
    </tfoot>
  </table>
</div>




{% endblock %}