{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Data Nilai Seminar Proposal{% endblock %}

{% load static %}
{% load crispy_forms_tags%}
{% load mathfilters %}
{% block content %}

<div class="container">
  <h2>Tabel Data Nilai Seminar Proposal</h2>
  <br>
  <br>
  <h3>Data Mahasiswa :</h3>
  {% if data_penilaian is not None %}
  <div>
    <p>Nama Mahasiswa  :  {{data_penilaian.0.id_role_dosen.nim.id_user.first_name}}</p>
    <p>NIM  :{{data_penilaian.0.id_role_dosen.nim.nim}}</p>
  </div>
  {%endif%}
  <h3>Hasil Review :</h3>
  <div class="d-flex justify-content-between">
  {%for item in data_penilaian%}
  <div class="text-start">
    <p>Nama Dosen  : {{item.id_role_dosen.nip.id_user.first_name}}</p>
    <p> NIP  :{{item.id_role_dosen.nip.nip}}</p>
    <p>Role  :{{item.id_role_dosen.role}}</p>
    <p>Status Kelulusan :{{item.status_kelulusan}}</p>
    <p>Catatan Review :{{item.hasil_review}}</p>
  </div>
  {%endfor%}
</div>
<br>
<br>
{%if user_info.2.name == "Mahasiswa"  %}
<div></div>
{%else%}
  <table id="table-paginate-sempro" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        {%for item in isi_list%}
        <th>CPMK</th>
        <th>Nilai {{item}}</th>
        <th>Bobot</th>
        <th>Total</th>
        
        {%endfor%}
        
        <th>Total</th>

      </tr>
    </thead>
    <tbody>
        {%if isi_list|length == 4%}
        {%for a in nilai_list.0%}{%for b in nilai_list.1%}{%for c in nilai_list.2%}{%for d in nilai_list.3%}
        {% if forloop.counter == forloop.parentloop.counter  and forloop.counter == forloop.parentloop.parentloop.counter  and forloop.counter == forloop.parentloop.parentloop.parentloop.counter  %}
        <tr>
          
          <td>{{a.id_sub_cpmk.id_sub_cpmk}}</td>
          {% if a.nilai < 70 %}
          <td class="text-light bg-danger" >{{a.nilai}}</td>
          {% else %}
          <td>{{a.nilai}}</td>
          {% endif %}
          <td>{{a.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{a.nilai|mul:a.id_sub_cpmk.bobot_sempro }}</td>
        
         
          <td>{{b.id_sub_cpmk.id_sub_cpmk}}</td>
          {% if b.nilai < 70 %}
          <td class="text-light bg-danger" >{{b.nilai}}</td>
          {% else %}
          <td>{{b.nilai}}</td>
          {% endif %}
          <td>{{b.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{b.nilai|mul:b.id_sub_cpmk.bobot_sempro }}</td>
     
          <td>{{c.id_sub_cpmk.id_sub_cpmk}}</td>
          {% if c.nilai < 70 %}
          <td class="text-light bg-danger" >{{c.nilai}}</td>
          {% else %}
          <td>{{c.nilai}}</td>
          {% endif %}
          <td>{{c.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{ c.nilai|mul:c.id_sub_cpmk.bobot_sempro }}</td>
   
          <td>{{d.id_sub_cpmk.id_sub_cpmk}}</td>
          {% if d.nilai < 70 %}
          <td class="text-light bg-danger" >{{d.nilai}}</td>
          {% else %}
          <td>{{d.nilai}}</td>
          {% endif %}
          <td>{{d.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{ d.nilai|mul:d.id_sub_cpmk.bobot_sempro }}</td>

          {% with answer=a.nilai|mul:a.id_sub_cpmk.bobot_sempro %}
          {% with answer2=b.nilai|mul:b.id_sub_cpmk.bobot_sempro %}
          {% with answer3=c.nilai|mul:c.id_sub_cpmk.bobot_sempro %}
          {% with answer4=d.nilai|mul:d.id_sub_cpmk.bobot_sempro %}
          {% with jumlah1=answer|mul:0.2 %}
          {% with jumlah2=answer2|mul:0.2 %}
          {% with jumlah3=answer3|mul:0.3 %}
          {% with jumlah4=answer4|mul:0.3 %}
          {% with jumlahtotal1=jumlah1|addition:jumlah2 %}
          {% with jumlahtotal2=jumlah3|addition:jumlah4 %}
          <td> {{ jumlahtotal1|addition:jumlahtotal2 }}</td>
          {% endwith %}{% endwith %}
          {% endwith %}{% endwith %}
          {% endwith %}{% endwith %}
          {% endwith %}{% endwith %}
          {% endwith %}{% endwith %}
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
 
        {%elif isi_list|length == 3%}
        {%for a in nilai_list.0%}{%for b in nilai_list.1%}{%for c in nilai_list.2%}
        <!-- <p>{{nilai_list.2}}</p> -->
        {% if forloop.counter == forloop.parentloop.counter and forloop.counter == forloop.parentloop.parentloop.counter %}
        <tr>
          
          <td>{{a.id_sub_cpmk}}</td>
          {% if a.nilai < 70 %}
          <td class="text-light bg-danger" >{{a.nilai}}</td>
          {% else %}
          <td>{{a.nilai}}</td>
          {% endif %}
          <td>{{a.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{a.nilai|mul:a.id_sub_cpmk.bobot_sempro }}</td>
        
         
          <td>{{b.id_sub_cpmk}}</td>
          {% if b.nilai < 70 %}
          <td class="text-light bg-danger" >{{b.nilai}}</td>
          {% else %}
          <td>{{b.nilai}}</td>
          {% endif %}
          <td>{{b.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{b.nilai|mul:b.id_sub_cpmk.bobot_sempro }}</td>
     
          <td>{{c.id_sub_cpmk}}</td>
          {% if c.nilai < 70 %}
          <td class="text-light bg-danger" >{{c.nilai}}</td>
          {% else %}
          <td>{{c.nilai}}</td>
          {% endif %}
          <td>{{c.id_sub_cpmk.bobot_sempro}}</td>
          <td> {{ c.nilai|mul:c.id_sub_cpmk.bobot_sempro }}</td>

          {% with answer=a.nilai|mul:a.id_sub_cpmk.bobot_sempro %}
          {% with answer2=b.nilai|mul:b.id_sub_cpmk.bobot_sempro %}
          {% with answer3=c.nilai|mul:c.id_sub_cpmk.bobot_sempro %}
          {% with jumlah1=answer|mul:0.4 %}
          {% with jumlah2=answer2|mul:0.3 %}
          {% with jumlah3=answer3|mul:0.3 %}
          {% with jumlahtotal1=jumlah1|addition:jumlah2 %}
          <td> {{ jumlahtotal1|addition:jumlah3 }}</td>
          {% endwith %}{% endwith %}
          {% endwith %}{% endwith %}
          {% endwith %}
          {% endwith %}
          {% endwith %}
          
        </tr>
        {% endif %}
        
        {% endfor %}
        {% endfor %}
        {% endfor %}

        {%elif isi_list|length == 2%}
        {%for a in nilai_list.0%}{%for b in nilai_list.1%}
        
          {% if forloop.counter == forloop.parentloop.counter %}
          <tr>
            <td>{{a.id_sub_cpmk}}</td>
            {% if a.nilai < 70 %}
            <td class="text-light bg-danger" >{{a.nilai}}</td>
            {% else %}
            <td>{{a.nilai}}</td>
            {% endif %}
            <td>{{a.id_sub_cpmk.bobot_sempro}}</td>         
            <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_sempro }}</td>
            <td>{{b.id_sub_cpmk}}</td>
            {% if b.nilai < 70 %}
            <td class="text-light bg-danger" >{{b.nilai}}</td>
            {% else %}
            <td>{{b.nilai}}</td>
            {% endif %}
            <td>{{b.id_sub_cpmk.bobot_sempro}}</td>
            <td> {{ b.nilai|mul:b.id_sub_cpmk.bobot_sempro }}</td>
            {% with answer=a.nilai|mul:a.id_sub_cpmk.bobot_sempro %}{% with answer2=b.nilai|mul:b.id_sub_cpmk.bobot_sempro %}
            <td> {{ answer|addition:answer2 }}</td>
            {% endwith %}{% endwith %}
          </tr>
          {% endif %}

        {% endfor %}
        {% endfor %}
        {%elif isi_list|length == 1%}
        {%for a in nilai_list.0%}
        <tr>
          
          <td>{{a.id_sub_cpmk}}</td>
          {% if a.nilai < 70 %}
          <td class="text-light bg-danger" >{{a.nilai}}</td>
          {% else %}
          <td>{{a.nilai}}</td>
          {% endif %}
          <td>{{a.id_sub_cpmk.bobot_sempro}}</td>
          
          <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_sempro }}</td>
          <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_sempro }}</td>
    
        </tr>


        {% endfor %}
        {% endif %}
  
   
    </tbody>
    <tfoot>
      {%if isi_list|length != 0%}
      <tr>
        
        <th  colspan="{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}" style="text-align:right" >Total:</th>
        <th></th>
        <!-- <th></th> -->
    </tr>
    {% endif %}
  </tfoot>
</table>
{% endif %}
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

      $('#table-paginate-sempro').DataTable({

        lengthChange: true,
                    dom: 'Blfrtip',
                    buttons: [
            {
                extend: 'copyHtml5', 
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'csvHtml5',
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'excelHtml5',
                footer: true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                footer: true,
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
        //         customize : function(doc){
        //           var colCount = new Array();
        //           $(tbl).find('tbody tr td').each(function(){
        //               if($(this).attr('colspan')){
        //                   for(var i=1;i<=$(this).attr('colspan');$i++){
        //                       colCount.push('*');
        //                   }
        //               }else{ colCount.push('*'); }
        //           });
        //           doc.content[1].table.widths = colCount;
        // }
            },
            'colvis'
        ],
                    
          footerCallback: function (row, data, start, end, display) {
              var api = this.api();
  
              // Remove the formatting to get integer data for summation
              var intVal = function (i) {
                  return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
              };
  
              // Total over all pages
              total = api
                  .column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}")
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
  
              // Total over this page
              pageTotal = api
                  .column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}", { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
  
              // Update footer
              $(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).attr('id', 'total-hasil').html( total);
              //$(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).html( pageTotal);
              // $(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).html('$' + pageTotal + ' ( $' + total + ' total)');
          },
      }).buttons().container()
                    .appendTo( '#table-paginate_wrapper .col-md-6:eq(0)' );

 
  });
</script>
<script>
  $(document).ready(function() {

    var nilai = parseInt($("#total-hasil").text());
 
			// Memeriksa apakah nilai di dalam elemen "nilai" kurang dari 70
			if (nilai < 70) {
				// Jika kurang dari 70, maka mengganti warna latar belakang menjadi merah
				$("#total-hasil").attr('class', 'text-light bg-danger');
      
			} else {
				// Jika tidak kurang dari 70, maka tidak melakukan apa-apa
				// Atau Anda dapat melakukan perubahan warna latar belakang ke warna lain
			}
		

  });
</script>

{% endblock %}