{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Data Nilai Bimbingan{% endblock %}

{% load static %}
{% load crispy_forms_tags%}
{% load mathfilters %}
{% block content %}
{% comment %} <script> 
  window.jsPDF = window.jspdf.jsPDF; 
  // Convert HTML content to PDF 
  function Convert_HTML_To_PDF() { 
    var doc = jsPDF(); 
    // Source HTMLElement or a string containing HTML. 
    var elementHTML = document.querySelector("#filetoprint"); 
    doc.html(elementHTML, {
      callback: function(doc) { 
      }, 
      margin: [10, 10, 10, 10],
      autoPaging: 'text',
      x: 0,
      y: 0,
      width: 190, 
    });
  }
</script>  {% endcomment %}


{% comment %} <a href="../dashboard"> {% endcomment %}
  {% comment %} </a> {% endcomment %}
  {% comment %} <button onclick="Convert_HTML_To_PDF()">Print As PDF</button> {% endcomment %}
  
  <div class="d-flex text-end">
    
    <button class="btn btn-primary btn-block  p-2" onclick="downloadCode()">Print As PDF</button>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="container" id="filetoprint">
  <h2 class="text-center">Penilaian Bimbingan</h2>
  <br>
  <br>
  <h3>Data Mahasiswa :</h3>
  {% if data_penilaian is not None %}
  <div>
    <p>Nama Mahasiswa  :  {{data_penilaian.0.id_role_dosen.nim.id_user.first_name}}</p>
    <p>NIM  : {{data_penilaian.0.id_role_dosen.nim.nim}}</p>
  </div>
  {%endif%}
  <h3>Hasil Review :</h3>
  <div class="d-flex justify-content-between">
  {%for item in data_penilaian%}
  <div class="text-start">
    <p>Nama Dosen  : {{item.id_role_dosen.nip.id_user.first_name}}</p>
    <p> NIP  : {{item.id_role_dosen.nip.nip}}</p>
    <p>Role  : {{item.id_role_dosen.role}}</p>
    <p>Status Kelulusan :{{item.status_kelulusan}}</p>
    <p>Catatan Review :{{item.hasil_review}}</p>
  </div>
  {%endfor%}
</div>
<br>
<br>
{%if user_info.2.name == "Mahasiswa"  %}
<div></div>
{%else%}

  <table id="table-paginate-semhas" class="table  table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        {%for item in isi_list%}
        <th>CPMK</th>
        <th>Nilai {{item}}</th>
        <th>Bobot</th>
        <th>Total</th>
        
        {%endfor%}
        
        <th>Total Nilai</th>

      </tr>
    </thead>
    <tbody>
        
        {%if isi_list|length == 2%}
        {%for a in nilai_list.0%}{%for b in nilai_list.1%}
        
          {% if forloop.counter == forloop.parentloop.counter %}
          <tr>
            <td>{{a.id_sub_cpmk}}</td>
            {% if a.nilai < 56 %}
            <td class="text-light bg-danger" >{{a.nilai}}</td>
            {% else %}
            <td>{{a.nilai}}</td>
            {% endif %}
            <td>{{a.id_sub_cpmk.bobot_pembimbing}}</td>         
            <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_pembimbing }}</td>
            <td>{{b.id_sub_cpmk}}</td>
            
            {% if b.nilai < 56 %}
            <td class="text-light bg-danger" >{{b.nilai}}</td>
            {% else %}
            <td>{{b.nilai}}</td>
            {% endif %} 

            <td>{{b.id_sub_cpmk.bobot_pembimbing}}</td>
            <td> {{ b.nilai|mul:b.id_sub_cpmk.bobot_pembimbing }}</td>
            {% with answer=a.nilai|mul:a.id_sub_cpmk.bobot_pembimbing %}
            {% with answer2=b.nilai|mul:b.id_sub_cpmk.bobot_pembimbing %}
            {% with jumlah1=answer|mul:0.6 %}
            {% with jumlah2=answer2|mul:0.4 %}
            <td> {{ jumlah1|addition:jumlah2 }}</td>
            {% endwith %}{% endwith %}
            {% endwith %}{% endwith %}
          </tr>
          {% endif %}

        {% endfor %}
        {% endfor %}
        {%elif isi_list|length == 1%}
        {%for a in nilai_list.0%}
        <tr>
          
          <td>{{a.id_sub_cpmk}}</td>
          {% if a.nilai < 56 %}
          
          <td class="text-light bg-danger" >{{a.nilai}}</td>
          {% else %}
          <td>{{a.nilai}}</td>
          {% endif %}
          <td>{{a.id_sub_cpmk.bobot_pembimbing}}</td>
          
          <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_pembimbing }}</td>
          <td> {{ a.nilai|mul:a.id_sub_cpmk.bobot_pembimbing }}</td>
    
        </tr>


        {% endfor %}
        {% endif %}
        
        
      </tbody>
      <tfoot>
        {%if isi_list|length != 0%}
        <tr>
          <th id="total" colspan="{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}" style="text-align:right" >Total:</th>
          <th></th>
          <!-- <th></th> -->
        </tr>
        {% endif %}
    </tfoot>
  </table>
  {%endif%}
  <br/>
  <div class="d-flex justify-content-end">
    <br/>
    <br/>
  <table>
    <tr>
      <td>
        <h4 class="text-end px-2"> Disetujui Oleh  </h4>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4 class="text-end px-2"> Manajemen Departemen  </h4>
        <br/>
        <br/>
      </td>
    </tr>
  </table>
  </div>
</div>
</div>

{% comment %} ['dt-buttons btn-group flex-wrap','dataTables_length', 'dataTables_info', 'dataTables_paginatepaging_simple_numbers']; {% endcomment %}
{% comment %} <script src="{% static 'js/dashboard.js' %}"></script> {% endcomment %}
<script type="text/javascript" charset="utf-8">



    function generatePDF() {
      const element = document.getElementById("filetoprint");
    
      // Find elements with the specified class and remove them
      const excludedElements = element.getElementsByClassName("dt-buttons btn-group flex-wrap");
      while (excludedElements.length > 0) {
        excludedElements[0].parentNode.removeChild(excludedElements[0]);
      }
      const excludedElements1 = element.getElementsByClassName("judul");
      while (excludedElements1.length > 0) {
        excludedElements1[0].parentNode.removeChild(excludedElements1[0]);
      }
      const excludedElements2 = element.getElementsByClassName("dataTables_length");
      while (excludedElements2.length > 0) {
        excludedElements2[0].parentNode.removeChild(excludedElements2[0]);
      }
      const excludedElements3 = element.getElementsByClassName("dataTables_info");
      while (excludedElements3.length > 0) {
        excludedElements3[0].parentNode.removeChild(excludedElements3[0]);
      }
      const excludedElements4 = element.getElementsByClassName("pagination");
      while (excludedElements4.length > 0) {
        excludedElements4[0].parentNode.removeChild(excludedElements4[0]);
      }
      const excludedElements5 = element.getElementsByClassName("dataTables_filter");
      while (excludedElements5.length > 0) {
        excludedElements5[0].parentNode.removeChild(excludedElements5[0]);
      }

      const options = {
        filename: 'Penilaian Bimbingan-{{data_penilaian.0.id_role_dosen.nim.nim}}-{{data_penilaian.0.id_role_dosen.nim.id_user.first_name}}.pdf',
        margin: 10, // Atur margin di sini, dalam satuan piksel
        jsPDF: { format: 'a4', orientation: 'portrait' },
        pagebreak: { mode: ['avoid-all'] }
      };
    
      html2pdf().set(options).from(element).save('Penilaian Bimbingan.pdf');
    }
    function redirectToURL() {
    
      // Redirect the user to the specified URL
      
      window.location.href = `../${window.location.pathname}`;
    }
    
    function downloadCode() {
      var x = document.getElementById("filetoprint");
      
      generatePDF()
      redirectToURL()
      
    }
    
  
  
  
</script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

      $('#table-paginate-semhas').DataTable({
        "lengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        lengthChange: true,
                    dom: 'Blfrtip',
                    buttons: [
            {
                extend: 'copyHtml5', 
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'csvHtml5',
                footer: true,
                exportOptions: {
                    columns:  ':visible' 
                }
            },
            {
                extend: 'excelHtml5',
                footer: true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                footer: true,
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                    columns: ':visible'
                },
        //         customize : function(doc){
        //           var colCount = new Array();
        //           $(tbl).find('tbody tr td').each(function(){
        //               if($(this).attr('colspan')){
        //                   for(var i=1;i<=$(this).attr('colspan');$i++){
        //                       colCount.push('*');
        //                   }
        //               }else{ colCount.push('*'); }
        //           });
        //           doc.content[1].table.widths = colCount;
        // }
            },
            'colvis'
        ],
                    
          footerCallback: function (row, data, start, end, display) {
              var api = this.api();
  
              // Remove the formatting to get integer data for summation
              var intVal = function (i) {
                  return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
              };
  
              // Total over all pages
              total = api
                  .column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}")
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
  
              // Total over this page
              pageTotal = api
                  .column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}", { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
  
              // Update footer
              $(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).attr('id', 'total-hasil').html( total);
              //$(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).html( pageTotal);
              // $(api.column("{% with answer=isi_list|length|mul:4 %}{{answer}}{% endwith %}").footer()).html('$' + pageTotal + ' ( $' + total + ' total)');
          },
      });
      table.buttons().container()
                    .appendTo( '#table-paginate_wrapper .col-md-6:eq(0)' );

 
  });
</script>
<script>
  $(document).ready(function() {

    var nilai = parseInt($("#total-hasil").text());

			// Memeriksa apakah nilai di dalam elemen "nilai" kurang dari 70
			if (nilai < 70) {
				// Jika kurang dari 70, maka mengganti warna latar belakang menjadi merah
				$("#total-hasil").attr('class', 'text-light bg-danger');

			} else {
				// Jika tidak kurang dari 70, maka tidak melakukan apa-apa
				// Atau Anda dapat melakukan perubahan warna latar belakang ke warna lain
			}
		

  });
</script>



{% endblock %}