{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Data Dosen{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
  <h2>Tabel Daftar Dosen</h2>
  <br>
  <table id="table-paginate" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>NIP</th>
        <th>Username</th>
        <th>Nama</th>
       
        <th>Photo</th>
        <th class="col-md-2">Operation</th>
      </tr>
    </thead>
    <tbody>
      {%for item in dosens%}
      <tr>

        <td>{{item.nip}}</td>
        <td>{{item.id_user}}</td>
        <td>{{item.id_user.first_name}}</td>
        {%if item.photo_file == "" %}
        <td>Tidak ada Photo</td>
        {%else%}
        <td> <a  href="{{item.photo_file.url}}">File</a></td>
        {%endif%}
        
        {% comment %} {%if item.photo_file == "" %}
        <td></td>
        {%else%}
        <td><img src={{item.photo_file.url}} width="100px"></td>
        {%endif%} {% endcomment %}
        <td>
          <form method="post">
            {% csrf_token %}
            <a class="btn btn-md w-100 text-white px-1 my-1" style='background-color:#0098AD;' type="button" href="{% url 'dosen_read' item.nip %}">READ</a>
            <a class="btn w-100 text-black px-1 my-1" style='background-color:#FFB92E;' type="button"
              href="{% url 'dosen_update' item.nip %}">UPDATE</a>
            <a class="btn btn-danger btn-md w-100 px-1 my-1" type="button" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop{{item.nip}}">DELETE</a>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{item.nip}}" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel{{item.nip}}" aria-hidden="true" name="{{item.nip}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel{{item.nip}}">Apakah
                      anda yakin akan
                      menghapus
                      NIP : {{item.nip}}, username : {{item.id_user}} atas nama {{item.id_user.first_name}} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Data tidak akan dikembalikan ketika telah menekan tombol "Ya"
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <a type="button" class="btn btn-danger" href="{%url 'dosen_delete' item.nip%}">Ya</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </td>

      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>NIP</th>
        <th>Username</th>
        <th>Nama</th>
       
        <th>Photo</th>
        <th>Operation</th>
      </tr>
    </tfoot>
  </table>
</div>


{% endblock %}