{%extends 'navbar_superuser.html' %}
{% block title %}Update Data Dosen{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <form method="post" enctype="multipart/form-data">
    <h1 class="h2">Update Data Dosen</h1>

    {%csrf_token%}
    {{form|crispy}}
    {% comment %} {{% if form2 != None %}
    {{form2|crispy}}
    {% else %}
    {% endif %}} {% endcomment %}
    <div class="row container-fluid">
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Submit
      </button>
      <a href= "{% url 'user_update' id_user  %}" class="btn btn-warning btn-block mb-4">
        Update Data Pribadi
      </a>

    </div>

  </form>
</div>




{% endblock %}