{%extends 'navbar_superuser.html' %}
{% block title %}Tabel Evaluasi Topik{% endblock %}

{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
  <h2>Tabel Daftar Evaluasi Topik</h2>
  <br>
  <div class=" container-fluid text-end ">
    <a class="btn btn-success text-white my-3" href="/evaluasitopikget">Tanpa Filter</a>
    {%if user_info.2.name != "Mahasiswa"%}
    <a class="btn btn-success text-white my-3" href="{% url 'evaluasitopik_get_sudah_ACC'  %}">Filter ACC</a>
    <a class="btn btn-success text-white my-3" href="{% url 'evaluasitopik_get_sudah_revisi'  %}">Filter Revisi</a>
    <a class="btn btn-success text-white my-3" href="{% url 'evaluasitopik_get_sudah_evaluasi'  %}">Filter Sudah Evaluasi</a>
    <a class="btn btn-success text-white my-3" href="/evaluasitopikgetrevise">Filter Belum Evaluasi</a>
    {%endif%}
  </div>

  {% comment %} evaluasitopikgetrevise/ {% endcomment %}
  <table id="table-paginate" class="table table-striped table-bordered table-paginate" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>NIP</th>
        <th>Nama Dosen</th>
        <th>Kompartemen</th>
        <th>NIM</th>
        <th>Nama</th>
        <th>Judul Topik</th>
        <th>Status</th>
        <th>Catatan</th>
        <th>Tanggal Dibuat</th>
        <th>Tanggal Diedit</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      {%for item in evaluasitopiks%}
      <tr>

        <td>{{item.id_dosen_kompartemen.nip.nip}}</td>
        <td>{{item.id_dosen_kompartemen.nip.id_user.first_name}}</td>
        <td>{{item.id_dosen_kompartemen.id_kompartemen.nama_kompartemen}}</td>
        <td>{{item.id_usulan_topik.nim}}</td>
        <td>{{item.id_usulan_topik.nim.id_user.first_name}}</td>
        <td><a href="{% url 'usulantopik_read' item.id_usulan_topik.id_usulan_topik%}">{{item.id_usulan_topik.judul_topik}}</a></td>
        <td>{{item.status_topik}}</td>
        <td>{{item.catatan}}</td>
        <td>{{item.tanggal_buat |date:"Y-m-d,D H:i"}}</td>
        <td>{{item.tanggal_update |date:"Y-m-d,D H:i"}}</td>
        
        <td>
          <a class="btn  btn-md w-100 text-white px-1 my-1" style='background-color:#0098AD;' type="button"
          href="{% url 'evaluasitopik_read' item.id_evaluasi_topik %}">READ</a>
          <form method="post"> 
            {% csrf_token %}
{% comment %} 
            {% with my_list=[] %}
              {% for item2 in evaluasitopiks %}
                  {% my_list.append(item2.status_topik) %}
              {% endfor %}
              {%if "ACC" in my_list%}
              {% endif %}
            {% endwith %} {% endcomment %}




            {%if user_info.2.name == "Kompartemen" or user_info.2.name == "Admin" or user_info.2.name == "Properta" %}
            <a class="btn w-100 text-black px-1 my-1" style='background-color:#FFB92E;' type="button"
              href="{% url 'evaluasitopik_update' item.id_evaluasi_topik %}">UPDATE</a>
            <br>
            <a class="btn btn-danger btn-md w-100 px-1 my-1" type="button" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop{{item.id_evaluasi_topik}}">DELETE</a>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{item.id_evaluasi_topik}}" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel{{item.id_evaluasi_topik}}" aria-hidden="true" name="{{item.id_evaluasi_topik}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel{{item.id_evaluasi_topik}}">Apakah
                      anda yakin akan
                      menghapus
                      evaluasi topik dengan id {{item.id_evaluasi_topik}} & dan judul proposal {{item.id_usulan_topik.judul_topik}} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Data tidak akan dikembalikan ketika telah menekan tombol "Ya"
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <a type="button" class="btn btn-danger" href="{%url 'evaluasitopik_delete' item.id_evaluasi_topik%}">Ya</a>
                  </div>
                </div>
              </div>
            </div>
            {%endif%}
          </form>
        </td>

      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>NIP</th>
        <th>Nama Dosen</th>
        <th>Kompartemen</th>
        <th>NIM</th>
        <th>Nama</th>
        <th>Judul Topik</th>
        <th>Status</th>
        <th>Catatan</th>
        <th>Tanggal Dibuat</th>
        <th>Tanggal Diedit</th>
        <th>Operation</th>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}